* {
    --bg:           #282828;
    --bg-1:         #3c3836;
    --fg:           #ebdbb2;
    --red:          #cc241d;
    --green:        #98971a;
    --yellow:       #d79921;
    --blue:         #458588;
    --purple:       #b16286;
    --aqua:         #689d6a;
    --orange:       #d65d0e;
    --gray:         #928374;
    --light-gray:   #a89984;
    --light-red:    #fb4934;
    --light-green:  #b8bb26;
    --light-yellow: #fabd2f;
    --light-blue:   #83a598;
    --light-purple: #d3869b;
    --light-aqua:   #8ec07c;
    --light-orange: #fe8019;
}