window {
    margin: 0px;
    border: 2px solid #fe8019;
    border-radius: 15px;
    background-color: #282828;
}

#inner-box {
    margin:    12px;
    background-color: transparent;
}

#outer-box {
    margin-bottom: 4px;
    border: none;
    border-radius: 15px;
}

#input {
    padding: 4px;
    margin: 4px;
    padding-left: 20px;
    border: none;
    color: #ebdbb2;
    font-weight: bold;
    background-color: #3c3836;
   	outline: none;
    border-radius: 15px;
    margin: 10px;
    margin-bottom: 2px;
}

#input:focus {
    border: 0px solid #ebdbb2;
    margin-bottom: 0px;
}

#entry {
    margin: 0px 0px;
    border: none;
    border-radius: 15px;
    background-color: transparent;
    color: #ebdbb2;
}

#entry:selected {
    margin: 0px 0px;
    border: 2px solid #d65d0e;
    border-radius: 15px;
    background: #fe8019;
}